/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ************************custom css******************** */
/* ****************************************************** */

html, body {
    height: 100%;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
/*  ************************ TOP *************************  */
#top {
    background: url('bg_header.png') no-repeat;
    background-position: center;
}
#top .header {
    position: relative;
}

#top .search {
    float: left;
    
}
#top .search span{
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: goldenrod;
    padding: 0 0 5px 0; 
}
#top .search a{
    color: goldenrod;
}
#top .contacts{
    float:right;
    padding: 50px 300px 0 0;
    color: #fff;
}
#top .logo{
    float: left;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.mainmenu{
    padding: 0;
    margin-top: 15px;
    border-top: 1px solid grey;
}
.mainmenu li a{
    color: #fff;
    padding: 15px 10px 18px 10px;
    text-decoration: none;
}
#footer .mainmenu {
    border-top: none;
    border-bottom: 1px solid grey;
}

.mainmenu ul {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.mainmenu li {
    border-top: 1px solid transparent;
    display: inline-block;
}
.mainmenu li:hover a{
    border-top: 1px solid goldenrod;  /* сделать box-shadow   li: first_child  last_child кружочки бэком сделать*/
    color: goldenrod;
}
/*   if ie  body div display none */
#footer .mainmenu li:hover {
    border-bottom: 1px solid goldenrod;
    border-top: none;
    color: goldenrod;
}
/*  ************************ slider *************************  */
#slider {
    background: #A3A3A3;
}

#slider .wrapper {
    height: 400px; // ДЛЯ ТЕСТА
}

/*  ************************ content *************************  */
#content {
    background: #fff;
}

#content .boxes {
    height: 300px; // ДЛЯ ТЕСТА
}






.btn {
    display: inline-block;
    height: 20px;
    background-color: #F3D059; 
    background-image: linear-gradient(transparent 50%, #F2C21C 50%);
    position: relative;
}
.btn:before {
    content:"";
    border-top: 7px solid #AF8B0D;
    border-left: 7px solid transparent;
    display: inline-block;
    width: 0px;
    height: 0px; 
    top: 20px;
    position: absolute;
}
.btn:after {
    content:"";
    border-top: 10px solid #F3D059;
    border-bottom: 10px solid #F2C21C;
    border-right: 10px solid transparent;
    display: inline-block;
    width: 0px;
    height: 0px; 
    position: absolute;
}
.btn>span{
    display: inline-block;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    color: black;
}



/*  ************************ about *************************  */
#about {
    background: #fff;
}
#about .wrapper {
    height: 300px; // ДЛЯ ТЕСТА
}
#about .title, h3 {
    text-align: center;
}

/* ************************* footer ************************  */
#footer {
    background: black;
}
#footer .wrapper {
    height: 200px; // ДЛЯ ТЕСТА
}


.clearfix:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}