/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.10.2015, 15:49:29
    Author     : ViktorZ
*/
/* ************************GENERAL ****************/
html, body {
    height: 100%;
}

.template {
    width: 800px;
    margin: 0 auto;
}

.top {
    width: 100%;
    background: darkgrey;
}

.container {
    height: 100%;
    background: aqua;
}
.content {
    width: 600px;
    float:left;
    background: lightgray;
}
.sidebar {
    width: 200px;
    float: left;
    background: lightblue;
}
/****************************MAIN MENU  **********************/

.menu {
    padding: 0;
    margin: 0;
    font-family:  Verdana;
}

.menu li {
    list-style: none;
    display: inline-block;
 //   height: 30px;
    padding: 0 0 10px 0;
    margin: 0;
    width: 170px;
    text-align: center;
    background:  #95DF8E;
    position: relative;
    padding-top: 12px;
}

.menu .level2, .level3{
    list-style: none;
    width: 170px;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    left: 0;
    top: 41px;
}

.mainli .level2 li {
    width: 210px;
    
}
.level2 li {
    float: none;
    margin: 0;
    width: 170px;
    text-align: center;
    background: #95DF8E;

}
.menu li a{
    display: block;
    width: 170px;
    
    color:    #006A35;
    text-decoration: none;
}
.menu li:hover ul{
    display: block;
}
.menu li:hover{
    background: #35C835;
} 
.menu .level3{ 
    left:170px;
    top: 0;
}
.menu .level3 li{display: none;}
.menu .level2 li:hover .level3 li{display: block;}
.menu .mainli {
    width: 210px;
    position: relative;
}
.menu .mainli a{
    padding-left: 41px;
    
}
.menu .mainli span{
    display: block;
    background: url('icon.jpg') no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    padding: 1px;
    width: 41px;
    height: 41px;
}



/**********************SOCIAL BUTTONS***************************************/

.soc {
    list-style: none;
    padding: 0;
}
.soc li{
    display: inline-block;
}
.soc span{
    display: block;
    background: url('mini-social-icons.png') no-repeat;
    position: absolute;
    width: 84px;
    height: 84px;
    left: 0;
    top: 0;
}
.soc a{
    
    padding-left: 84px;
    padding-top: 35px;
    padding-bottom: 31px;
    display: block;
    position: relative;
}
.soc .ic2 span{
    background-position: -84px 0;
}
.soc .ic3 span{
    background-position: -168px 0;
}
.soc .ic4 span{
    background-position: -252px 0;
}
.soc .ic5 span{
    background-position: -336px 0;
}

.soc li:hover span{
    background-position-y: -84px;
}

/********************* OTHER *****************************/

.tt3{
    float: right;
}
clearfix:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}

.dropdown {
    position: relative;
    min-width: 170px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 10px 0;
    text-align: right;
    
}
